<!DOCTYPE html>
<html>
<head>
</head>

<body>
<script type="text/javascript">
	var resp = {
  "version": "1.0",
  "response": {
    "outputSpeech": {
      "type": "SSML",
      "ssml": "<speak><p>You can say, what are my activities, record a measurement, or send a caregiver a message. </p></speak>"
    },
    "reprompt": {
      "outputSpeech": {
        "type": "SSML",
        "ssml": "<speak><p>You can say, what are my activities, record a measurement, or send a caregiver a message. </p></speak>"
      }
    },
    "speechletResponse": {
      "outputSpeech": {
        "ssml": "<speak><p>You can say, what are my activities, record a measurement, or send a caregiver a message. </p></speak>"
      },
      "reprompt": {
        "outputSpeech": {
          "ssml": "<speak><p>You can say, what are my activities, record a measurement, or send a caregiver a message. </p></speak>"
        }
      },
      "shouldEndSession": false
    }
  },
  "sessionAttributes": {
    "SayMsgData": "<p>You can say, what are my activities, record a measurement, or send a caregiver a message. </p>",
    "rePromtData": "<p>You can say, what are my activities, record a measurement, or send a caregiver a message. </p>",
    "requireLastIntent": false
  }
};
</script>
<h1>Hello</h1>
</body>

</html>